# Default ignored files
/shelf/
/workspace.xml
.git
.idea
.ipynb_checkpoints
__pycache__
create_lookup
data/processed_text
data/questions
data/raw_text
data/tables
polish_articles_urls.txt
tfidf.py
preprocess_data.py
article_scraper.py
create_database.py
data_acquisition.py
Question_generator
create_database.py
models
preprocess
data_logs
tests
.gitignore
