# Default ignored files
/shelf/
.idea
Question_generator/.ipynb_checkpoints
preprocess/__pycache__
__pycache__
/workspace.xml
data/raw_text
data/processed_text
data/tables/ngram_table.csv
models/Spacy_lg
models/mimic/mimic_large
models/mimic/mimic_medium
models/slot_filer/slot_none
models/CountVectorizer/vectorizer_12_07.pkl
models/CountVectorizer/tfidf_12_07.pkl